.triangle {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent
}

.square {
  width: 100px;
  height: 100px;
  background-color: teal;
}

.hero {
  width: 80%;
  height: 80%;
}
